<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Movie Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar -->
  <ion-searchbar (ionChange)="onSearchInputChanged($event)"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let movie of movies">
      <!-- list item template -->
      <ion-item detail [routerLink]="['/movie-detail/', movie.uuid]" routerDirection="forward">
        <ion-thumbnail slot="start" class="movie-cover">
          <img src="{{ movie.thumb }}">
        </ion-thumbnail>
        <ion-label text-wrap>
          <ion-text color="primary">
            <h2>{{ movie.title }}</h2>
          </ion-text>
          <p>{{ movie.year }}</p>
          <ion-text color="secondary">
            <p>{{ movie.stars }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <!-- list item sliding options -->
      <ion-item-options side="start">
        <ion-item-option (click)="toggleWished(movie)" color="primary">
          <ion-text *ngIf="movie.wished" >
            Remove Wishlist
          </ion-text>
          <ion-text *ngIf="!movie.wished" >
            Add Wishlist
          </ion-text>
        </ion-item-option>
        <ion-item-option (click)="toggleWatched(movie)" color="secondary">
          <ion-text *ngIf="movie.watched" >
            Remove Watchlist
          </ion-text>
          <ion-text *ngIf="!movie.watched" >
            Add Watchlist
          </ion-text>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- TO DO floating action button goes here -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-movie/']" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
