<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-movies-search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-movies-wishlist">
      <ion-icon name="film"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-movies-watchlist">
      <ion-icon name="flag"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
